*.o
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/hurtbox
stamp-h1
contrib/imgui/.deps/
contrib/imgui/.dirstamp
contrib/imgui/examples/sdl_opengl_example/.deps/
contrib/imgui/examples/sdl_opengl_example/.dirstamp
contrib/imgui/imgui.o
contrib/imgui/imgui_demo.o
contrib/imgui/imgui_draw.o
/.vs/HurtBox/v14/.suo
*.suo
*.db
*.obj
*.tlog
*.cache
/contrib/SDL2-2.0.4/VisualC/SDL/Win32/Debug/SDL.log
/contrib/SDL2-2.0.4/VisualC/SDL/Win32/Debug/version.res
/contrib/SDL2-2.0.4/VisualC/SDLmain/Win32/Debug/SDLmain.log
/imgui.ini
/HurtBox.VC.VC.opendb
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/HurtBox.pdb
/Debug/HurtBox.log
/Debug/HurtBox.ilk
/Debug/HurtBox.exe
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2main.lib
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.pdb
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.lib
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.ilk
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.exp
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.dll
/contrib/SDL2-2.0.4/VisualC/tests/controllermap/Win32/Debug/controllermap.log
