*.o
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/hurtbox
stamp-h1
contrib/imgui/.deps/
contrib/imgui/.dirstamp
contrib/imgui/examples/sdl_opengl_example/.deps/
contrib/imgui/examples/sdl_opengl_example/.dirstamp
contrib/imgui/imgui.o
contrib/imgui/imgui_demo.o
contrib/imgui/imgui_draw.o
/.vs/HurtBox/v14/.suo
*.suo
*.db
*.obj
*.tlog
*.cache
/contrib/SDL2-2.0.4/VisualC/SDL/Win32/Debug/SDL.log
/contrib/SDL2-2.0.4/VisualC/SDL/Win32/Debug/version.res
/contrib/SDL2-2.0.4/VisualC/SDLmain/Win32/Debug/SDLmain.log
/imgui.ini
/HurtBox.VC.VC.opendb
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/HurtBox.pdb
/Debug/HurtBox.log
/Debug/HurtBox.ilk
/Debug/HurtBox.exe
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2main.lib
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.pdb
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.lib
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.ilk
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.exp
/contrib/SDL2-2.0.4/VisualC/Win32/Debug/SDL2.dll
/contrib/SDL2-2.0.4/VisualC/tests/controllermap/Win32/Debug/controllermap.log
/contrib/SDL2-2.0.4/VisualC/x64/Release/SDL2.pdb
/contrib/SDL2-2.0.4/VisualC/x64/Release/SDL2.lib
/contrib/SDL2-2.0.4/VisualC/x64/Release/SDL2.exp
/contrib/SDL2-2.0.4/VisualC/x64/Release/SDL2.dll
/contrib/SDL2-2.0.4/VisualC/x64/Debug/SDL2.pdb
/contrib/SDL2-2.0.4/VisualC/x64/Debug/SDL2.lib
/contrib/SDL2-2.0.4/VisualC/x64/Debug/SDL2.ilk
/contrib/SDL2-2.0.4/VisualC/x64/Debug/SDL2.exp
/contrib/SDL2-2.0.4/VisualC/x64/Debug/SDL2.dll
/contrib/SDL2-2.0.4/VisualC/Win32/Release/SDL2.pdb
/contrib/SDL2-2.0.4/VisualC/Win32/Release/SDL2.lib
/contrib/SDL2-2.0.4/VisualC/Win32/Release/SDL2.exp
/contrib/SDL2-2.0.4/VisualC/Win32/Release/SDL2.dll
/contrib/SDL2-2.0.4/VisualC/SDL/x64/Release/version.res
/contrib/SDL2-2.0.4/VisualC/SDL/x64/Release/vc140.pdb
/contrib/SDL2-2.0.4/VisualC/SDL/x64/Release/SDL.log
/contrib/SDL2-2.0.4/VisualC/SDL/x64/Debug/version.res
/contrib/SDL2-2.0.4/VisualC/SDL/x64/Debug/SDL.log
/contrib/SDL2-2.0.4/VisualC/SDL/Win32/Release/version.res
/contrib/SDL2-2.0.4/VisualC/SDL/Win32/Release/vc140.pdb
/contrib/SDL2-2.0.4/VisualC/SDL/Win32/Release/SDL.log
/contrib/glew-2.0.0/lib/Release/x64/glew32s.lib
/contrib/glew-2.0.0/lib/Release/Win32/glew32s.lib
/contrib/glew-2.0.0/lib/Debug/x64/glew32sd.lib
/contrib/glew-2.0.0/lib/Debug/Win32/glew32sd.lib
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Release/x64/glew_static.pdb
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Release/x64/glew_static.log
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Release/x64/glew.res
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Release/Win32/glew_static.pdb
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Release/Win32/glew_static.log
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Release/Win32/glew.res
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Debug/x64/glew_static.pdb
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Debug/x64/glew_static.log
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Debug/x64/glew.res
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Debug/Win32/glew_static.pdb
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Debug/Win32/glew_static.log
/contrib/glew-2.0.0/build/vc12/tmp/glew_static/Debug/Win32/glew.res
/x64/Release/vc140.pdb
/x64/Release/HurtBox.pdb
/x64/Release/HurtBox.log
/x64/Release/HurtBox.ilk
/x64/Release/HurtBox.exe
/Release/vc140.pdb
/Release/HurtBox.pdb
/Release/HurtBox.log
/Release/HurtBox.exe
/Debug/HurtBox.Build.CppClean.log
/Release/HurtBox.Build.CppClean.log
/contrib/SDL2-2.0.4/VisualC/x64/Release/SDL2main.lib
/contrib/SDL2-2.0.4/VisualC/x64/Debug/SDL2main.lib
/contrib/SDL2-2.0.4/VisualC/Win32/Release/SDL2main.lib
/contrib/SDL2-2.0.4/VisualC/SDLmain/x64/Release/SDLmain.log
/contrib/SDL2-2.0.4/VisualC/SDLmain/x64/Debug/SDLmain.log
/contrib/SDL2-2.0.4/VisualC/SDLmain/Win32/Release/SDLmain.log
